*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(/public/body.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

header {
    background-color: aquamarine;
    height: 100px;
    width: 100%;
    display: block;
}

.menu-container{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.logo-container{
    background-color: rgb(220, 150, 150);
    width: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    height: 120px;
    width: 120px;
}

.enlaces-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlaces-container a{
    margin-left: 10px;
    padding: 10px 14px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.enlaces-container a:hover {
    background-color: rgb(220, 150, 150);
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}