section {
    max-width: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 900px;
    padding: 20px;
}

.aside-container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    color:black;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.aside-container a {
    margin-top: 40%;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.aside-container a:hover {
    background-color: aquamarine;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.imginfo-container {
    margin-left: 20px;
    width: 86%;
    height: 100%;
    display: flex;
    background-image: url(/public/imgbanner.webp);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.info-container { 
    margin: 250px auto;
    color: white;
    text-align: center;
}

.info-container h1 {
    margin-bottom: 30px;
    font-size: 50px;
}

.text-container {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 60%;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 80px;
}

.info-container a {
    padding: 25px 50px;
    background-color: rgb(255, 238, 0);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.info-container a:hover {
    background-color: rgb(220, 150, 150);
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.general {
    background-color:  rgba(255, 255, 255, 0.8);
    max-width: 80%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.form-container {
    background-color: aqua;
}