section {
    max-width: 1240px;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    height: 800px;
    background-color: blue;
    padding: 20px;
}

.aside-container {
    background-color: aquamarine;
    width: 300px;
    color:black;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}

.aside-container a {
    margin-top: 40%;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.aside-container a:hover {
    background-color: rgb(220, 150, 150);
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}