*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-color: black;
}

header {
    background-color: aquamarine;
    height: 100px;
    width: 100%;
    display: block;
}

.menu-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.logo-container{
    background-color: rgb(220, 150, 150);
    width: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    height: 120px;
    width: 120px;
}

.enlaces-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
